<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Trineslation_Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Trineslation_Helper.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Trineslation_Helper.s" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <Trineslation_Helper.Properties.Settings>
            <setting name="Game" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetLangTypeFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetTerritoryFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetLangLabel" serializeAs="String">
                <value />
            </setting>
        </Trineslation_Helper.Properties.Settings>
        <Trineslation_Helper.Settings>
            <setting name="Game" serializeAs="String">
                <value />
            </setting>
        </Trineslation_Helper.Settings>
        <Trineslation_Helper.s>
            <setting name="game" serializeAs="String">
                <value />
            </setting>
        </Trineslation_Helper.s>
    </userSettings>
</configuration>